*.db
*.db-journal
/.vscode
/bin/*
!/bin/release.sh
/ci-dist
/*config.yaml
/testdata-download
/coverage*
/*.jsonl
/tool
/charts/telemetry/charts
codereport*
/.gorelease-actual.txt
*.private
artifacts.txt

# Useful for ignoring the build tool
/.go
/.act3_token
