<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>
  {{ template "navbar" . }}
  <main class="mx-3">
    <section id="leaderboard-view">
      <div id="bottle-cards-spinner" class="spinner-border text-primary htmx-indicator" role="status">
      </div>
      <div class="col-xl-12 text-center text-lg-start" style="background-color: #212121;">
        {{ template "bottle-search-bar" . }}
      </div>

      <div class="row mt-4 fade-out fade-in">
        <div hx-trigger="load, onValidSearch from:document" hx-get="{{ .Globals.Top }}www/search/bottle/table"
          hx-include=".bottle-search-field" hx-swap="innerHTML swap:1s" class="row mt-4 fade-out fade-in">
        </div>
      </div>
    </section>
  </main>
  {{ template "scripts" . }}
</body>
<script>
  // If a removeSearchFilter event bubbles up, tell the search bar to handle it
  document.querySelector('#leaderboard-view').addEventListener("removeSearchFilter", (event) => {
    removeSearchFilter(event.detail.filterValue);
  });

  document.querySelector('#leaderboard-view').addEventListener("onMetricFilterDropdownSelect", (event) => {
    addSearchFilter("metric", event.detail.metricName);
  });

  document.querySelector('#leaderboard-view').addEventListener("onMetricSortButtonClick", (event) => {
    var urlParams = new URLSearchParams(window.location.search);
    urlParams.set('sort-by-metric', event.detail.metricName);
    urlParams.set('metric-sort-ascending', event.detail.ascending);
    window.location.search = urlParams;
  });
</script>

</html>
