<h2 id="labels-and-selectors"><a style="text-decoration: none; color: #e0e0e0;" href="#labels-and-selectors">Labels</a>
</h2>

<ul>
  <li>
    Simple key-value pairs that can be added to bottles and parts of bottles
  </li>
  <li>
    Concept is the same as Kubernetes
    <a href="https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/" target="_blank">labels</a>
  </li>
  <li>
    Values are restricted in the same way as Kubernetes
  </li>
  <li>
    Bottle authors can classify and identify sets of bottles with labels
  </li>
  <li>
    Used to identify anything a user might want to use to select bottles
  </li>
  <li>
    Also used on parts of bottles
  </li>
</ul>


<h4>
  Common uses for labels in ASCE Data Telemetry
</h4>

<ul class="badge-list">
  <li>
    Project that created it, e.g.
    <span class="badge rounded-pill bg-label text-white">project=COACH</span>
  </li>
  <li>
    Type of bottle, e.g.
    <span class="badge rounded-pill bg-label text-white">type=model</span>
    <span class="badge rounded-pill bg-label text-white">problem=classification</span>
  </li>
  <li>
    (Hyper)Parameters used to generate the model, e.g.
    <span class="badge rounded-pill bg-label text-white">learning-rate=0.005</span>
    <span class="badge rounded-pill bg-label text-white">layers=7</span>
  </li>
  <li>
    Source code version, e.g.
    <span class="badge rounded-pill bg-label text-white">version=v0.2.4</span>
  </li>
  <li>
    A data set with both training and test sets contained within it as different parts, e.g.
    <span class="badge rounded-pill bg-label text-white">subset=train</span> and
    <span class="badge rounded-pill bg-label text-white">subset=test</span>
    <br>
    This allows a user to restrict/limit what they download if only a few parts are required
  </li>

</ul>

<h2>Selectors</h2>

<ul>
  <li>
    Used to restrict the set of bottles
  </li>
  <li>
    Can make arbitrary groups of bottles by picking which selectors must match
  </li>
  <li>
    Syntax is the same as Kubernetes
    <a href="https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#label-selectors"
      target="_blank">label
      selectors</a>
  <li>
    Composed of zero or more requirements
  </li>
  <li>
    All requirements must match for a selector to match
  </li>
</ul>

<h4>
  Selectors in ASCE Data Telemetry
</h4>
<ul>
  <li>
    Using a comma( , ) to separate requirements semantically means AND, e.g.
    <code>project=COACH,type=model</code>
  </li>
  <li>
    Whitespace within a requirement is insignificant
  </li>
  <li>
    In some situations there is a temporary restriction that inequality requirements (7 and 8 below) only work when the
    value is an integer
  </li>
</ul>

<ol>
  <li>
    <code>key = value</code> and <code>key == value</code> both require that the
    value of <code>key</code> equal <code>value</code>
  </li>
  <li>
    <code>key != value</code> requires that the value of <code>key</code> not be
    <code>value</code>
  </li>
  <li>
    <code>key in (value1, value2)</code> requires that the value of
    <code>key</code> be either <code>value1</code> or <code>value2</code>
  </li>
  <li>
    <code>key notin (value1, value2)</code> requires that the value of
    <code>key</code> be neither <code>value1</code> or <code>value2</code>
  </li>
  <li>
    <code>key</code> requires that a label with <code>key</code> exist (the
    value of <code>key</code> is not checked)
  </li>
  <li>
    <code>!key</code> requires that a label with <code>key</code> not exist (the
    value of <code>key</code> is not checked)
  </li>
  <li>
    <code>key &lt; 5</code> requires that the value of <code>key</code> be less
    than <code>5</code>
  </li>
  <li>
    <code>key &gt; 7</code> requires that the value of <code>key</code> be
    greater than <code>7</code>
  </li>
</ol>