{{ define "navbar" }}
<header>
  <nav class="navbar">
    <a href="/www/catalog.html" class="flex items-center logo-text">
      <img src="{{ .Globals.Top }}www/static/img/logo.svg" alt="ACE Logo" height="60"
        class="d-inline-block align-text-top" />
    </a>
    <div class="navbar-nav ms-auto">
      <div class="nav-item dropdown">
        <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ .Globals.Top }}www/static/img/menu_icon.svg" alt="menu icon" />
        </button>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/www/documentation.html"
              class="{{ if eq .RootTemplate "documentation" }}{{ end }}">Documentation</a>
          </li>
          <li><a href="https://chat.git.act3-ace.com/act3/channels/ace-dt" target="_blank"
              rel="noopener noreferrer">Mattermost</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="navbar navbar-expand-lg nav-menu px-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/www/catalog.html"
          class="nav-link {{ if eq .RootTemplate "catalog.html" }} active{{ end }}">CATALOG</a>
        <a href="/www/leaderboard.html"
          class="nav-link {{ if eq .RootTemplate "leaderboard.html" }} active{{ end }}">LEADERBOARD</a>
        <a href="/www/documentation.html"
          class="nav-link {{ if eq .RootTemplate "documentation.html" }} active{{ end }}">DOCUMENTATION</a>
      </div>
    </div>

  </div>
</header>
{{ end }}