{
    "manifestDigest": "{{ FileDigest "testdata/manifest/manifest1.json" "sha256" }}",
    "action": "pull",
    "repository": "reg2.example.com/bar/somewhere/else",
    "tag": "v1.0.1-45678fgb",
    "authRequired": true,
    "bandwidth": 1000000,
    "timestamp": "2012-04-23T18:25:43Z",
    "username": "joe.shmo@example.com"
}
