{
    "manifestDigest": "{{ FileDigest "testdata/manifest/manifest4.json" "sha256" }}",
    "action": "pull",
    "repository": "reg.example.com/foo",
    "tag": "v1.0.1",
    "bandwidth": 10000000,
    "timestamp": "2012-04-23T18:25:43Z",
    "username": "donnie.newtest@example.com"
}
