{
    "manifestDigest": "{{ FileDigest "testdata/manifest/manifest2.json" "sha256" }}",
    "action": "push",
    "repository": "reg.example.com/other",
    "tag": "v2.0.1",
    "timestamp": "2020-04-23T18:25:43Z",
    "username": "john.smith@example.com"
}
