{
    "manifestDigest": "{{ FileDigest "testdata/manifest/manifest1.json" "sha256" }}",
    "action": "push",
    "repository": "reg.example.com/foo",
    "tag": "v1.0.1",
    "bandwidth": 101010101099,
    "timestamp": "2021-04-23T18:25:43Z",
    "username": "joe.shmo@example.com"
}
