{{ define "bottle-cards" }}
{{ $CommonLabels := GetCommonLabels .Values.Entries }}

{{ if (gt (len .Values.Errors) 0) }}
<div class="alert alert-danger" role="alert" style="margin-top: 1em; margin-bottom: 1em;">
    <div>
        An error occurred while generating bottle results:
    </div>
    <ul>
        {{ with splitList "\n" .Values.Errors }}
        {{ range .}}
        <li>{{ . }}</li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ else }}

{{ if (gt (len .Values.Entries) 0) }}
<div id="total-search-results" class="row" style="margin-top: 1em; font-size: 14px;" hx-swap-oob="true">
    <div class="col-12">
        Viewing
        {{ with index .Values.Entries 0 }}
        {{ min (mul (add1 $.Values.Params.Page) $.Values.Params.Limit) .TotalCount }}
        of
        {{ .TotalCount }} results
        {{ end }}
    </div>
</div>

<div class="row align-items-center" style="margin-top: 1em; margin-bottom: 1em;">
    {{ if (gt (len $CommonLabels) 0) }}
    <div class="col-4">
        <h5>Common Labels</h5>
        <div>
            {{ range $CommonLabels }}
            <span class="badge rounded-pill bg-label">{{ .Key }}={{ .Value }}</span>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ else }}
{{ end }}

{{ range $index, $entry := .Values.Entries }}
<div class="col-lg-4 mb-4" {{ if eq (len $.Values.Entries) (add1 $index) }}
    hx-get="{{ $.Globals.Top }}www/search/bottle/cards?page={{ add1 $.Values.Params.Page }}" hx-trigger="revealed"
    hx-swap="afterend" hx-indicator="#bottle-cards-spinner" {{ end }}>

    <a class="bottle-card-link" aria-label="bottle card link" href="bottle.html?digest={{ index $entry.Digests 0 }}"
        style="text-decoration: none; color: inherit;">
        <div class="bottle-card card {{ if .IsDeprecated }}border-warning {{ end }}h-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    {{ if $entry.IsDeprecated }}
                    <img src="{{ $.Globals.Top }}www/static/img/bottle-attributes/deprecated-by.svg"
                        class="bottle-attribute-icon" alt="deprecated-by icon" />
                    {{ else }}
                    <img src="{{ $.Globals.Top }}www/static/img/bottle-attributes/bottle.svg"
                        class="bottle-attribute-icon" alt="bottle icon" />
                    {{ end }}
                    <small class="card-subtitle text-muted ms-3 wrap-text">
                        {{ index $entry.Digests 0 }}
                    </small>
                </div>

                {{ if (gt (len $entry.Authors) 0) }}
                {{ with $entry.Authors }}
                <div class="d-flex align-items-center mt-3 fw-light">
                    <img src="{{ $.Globals.Top }}www/static/img/bottle-attributes/authors.svg" alt="authors"
                        class="bottle-attribute-icon" />
                    <div class="ms-3">
                        {{ range $i, $author := . }}{{if $i}},{{end}}{{ .Name }}{{ end }}
                    </div>
                </div>
                {{ end }}
                {{ end }}
                {{ $uniqueLabels := RemoveLabels $CommonLabels $entry.Labels }}
                {{ if (gt (len $uniqueLabels) 0) }}
                <div class="d-flex mt-3">
                    <img src="{{ $.Globals.Top }}www/static/img/bottle-attributes/labels.svg" alt="labels"
                        class="bottle-attribute-icon" />
                    <div class="ms-3">
                        {{ range $uniqueLabels }}
                        <span class="badge rounded-pill bg-label">{{ .Key }}={{ .Value }}</span>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                {{ if (gt (len $entry.Description) 0) }}
                <div class="d-flex mt-3">
                    <img src="{{ $.Globals.Top }}www/static/img/bottle-attributes/description.svg" alt="description"
                        class="bottle-attribute-icon" />
                    <div class="ms-3">
                        <p class="card-text">
                            {{ $entry.Description }}
                        </p>
                    </div>
                </div>
                {{ end }}
                {{ if (gt (len $entry.Metrics) 0) }}
                <div class="d-flex mt-3">
                    <img src="{{ $.Globals.Top }}www/static/img/bottle-attributes/metrics.svg" alt="metrics"
                        class="bottle-attribute-icon" />
                    <div class="ms-2">
                        {{ range $entry.Metrics }}
                        <span class="badge rounded-pill bg-metric">{{ .Name }}={{ .Value }}</span>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </a>
</div>
{{ end }}
{{ end }}
{{ end }}